<details
  class="bundle-accordion {{ class }}"
  {% if open %}open{% endif %}>
  <summary class="bundle-accordion__summary {{ summary_class }}">{{ summary }}</summary>
  <div class="bundle-accordion__content {{ content_class }}">
    {{ content }}
  </div>
</details>
